        </content>
        <footer>
            <p>SebVideo &copy; 2026<% let year = new Date().getFullYear(); if (year > 2026) {  %><%= "-"+year %><% } %> Sebminecrafter</p>
        </footer>
    </body>
</html>