        </content>
        <footer>
            <p>SebVideo &copy; 2026<% year = new Date().getFullYear(); if (year > 2026) {  %><%= "-"+year %><% } %> Sebminecrafter</p>
            <p>All videos are user-generated and are not owned or endorsed by SebVideo</p>
        </footer>
    </body>
</html>