<!DOCTYPE html>
<html>
    <head>
        <title>SebVideo - <%= page %></title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/images/logo.png">
        <script src="/static/js/client.js" crossorigin="use-credentials"></script>
    </head>
    <body class="light">
        <button id="toggletheme" onclick="toggleTheme()"></button>
        <content>
            