<div class="videodisplay">
    <a href="/watch?v=<%= video.id %>">
        <img src="<%= video.thumb %>" class="thumbnail" />
        <p class="name"><%= video.name %></p>
        <p class="author"><%= video.author %></p>
    </a>
</div>