<% page = channel %>
<%- include('partials/header') %>

<div class="channel-videos">
    <% for( let index = 0; index < videos.length; index++ ) { %>
    <% video = videos[index] %>
    <%- include('partials/videodisplay') %>
    <% } %>
</div>

<%- include('partials/footer') %>