<% page = "Home" %>
<%- include('partials/header') %>

<div class="videos">
    <% for( let index = 0; index < videos.length; index++ ) { %>
    <% video = videos[index] %>
    <%- include('partials/recommendedvideo') %>
    <% } %>
</div>

<%- include('partials/footer') %>