html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.light {
    background-color: #EFEFEF;
    color: #111111;
}
body.light * {
    color: #111111;
}

body.dark {
    background-color: #111111;
    color: #EFEFEF;
}
body.dark * {
    color: #EFEFEF;
}

body * * {
    padding: 0.25vw;
}

#toggletheme {
    width: 2vw;
    height: 2vw;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100%;
    border-radius: 100vw;
}

.light #toggletheme:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.dark #toggletheme:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

content {
    display: block;
    flex: 1 0 auto;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(53, 53, 53) !important;
    min-height: 15vh;
    flex-shrink: 0;
    text-align: center;
}