html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.light {
    background-color: #EFEFEF;
    color: #111111;
}
body.light * {
    color: #111111;
}

body.dark {
    background-color: #111111;
    color: #EFEFEF;
}
body.dark * {
    color: #EFEFEF;
}

body * * {
    padding: 0.25vw;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.2);
}
nav .logo {
    display: flex;
    height: 100%;
    align-items: center;
}
nav .logo p {
    font-weight: bold;
}
nav .logo img {
    height: 75%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    padding: 0;
}

#toggletheme {
    width: 2vw;
    height: 2vw;
    background-color: transparent;
    border: none;
    font-size: 100%;
    border-radius: 100vw;
    margin-left: auto;
    margin-right: 0.5vw;
}

.video {
    box-sizing: border-box;
    padding-top: 2vw;
    padding-left: 2vw;
    flex: 1 1 0;
    min-width: 0;
}
.video video {
    width: 100%;
    height: auto;
    max-height: 75vh;
    aspect-ratio: 16/9;
    border-radius: 1vw;
    padding: 0;
}

.riverview {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    flex: 0 0 auto;
    width: max-content;
    max-width: 100%;
    margin: 1vw;
}

content {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    min-width: 0;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    min-height: 10%;
    flex-shrink: 0;
    text-align: center;
    align-content: center;
}

.videodisplay {
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    min-width: 0;
    height: 25vh;
    display: block;
    text-align: left;
    text-decoration: none;
    overflow: hidden;
    padding: 6%;
    border-radius: 1vw;
}
.videodisplay * {
    padding: 0;
    line-height: 0.75;
}
.videodisplay img {
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 1vw;
    color: transparent;
}
.videodisplay .name {
    font-weight: 700;
}
.videodisplay .author {
    font-weight: 600;
}

.light #toggletheme:hover, .light .videodisplay:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.dark #toggletheme:hover, .dark .videodisplay:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
    gap: 1vw;
    margin: 1vw;
    height: 100%;
    width: 100%;
}

.dark .video video {
    background-color: #0F0F0F;
}
.light .video video {
    background-color: #DFDFDF;
}